/* stylelint-disable no-descending-specificity */
.ace-investors-wrapper {
  max-width: 1366px !important;
  padding: 0 !important;
}

.mlow-market-status {
  display: flex;
  gap: 20px;
  max-width: 100%;
}

.ace-investors-head {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
}

.ace-investors {
  display: flex;
  gap: 1%;
}

.ace-investors .ace-investors-head:first-child {
  width: 25%;
}

.ace-investors .ace-investors-head:nth-child(2) {
  width: 25%;
}

.ace-investors .ace-investors-head:nth-child(3) {
  width: 47%;
}

/* <----- Title -----> */

.ace-investors .market-card-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #d8d6cf !important;
  margin: 20px 20px 0;
}

.ace-investors .market-card-title p {
  margin: 0;
  padding-bottom: 4px;
}

/* <----- Filter -----> */

.ace-investors .market-card-filter {
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid #d8d6cf !important;
  padding-bottom: 0;
}

.ace-investors .market-card-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.ace-investors .market-card-filter li {
  padding: 1px 15px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s, border-color 0.3s;
  color: #b6b6b6;
  font-weight: 500;
}

.ace-investors .market-card-filter li:first-child {
  background: none;
  border: 0 !important;
  border-bottom: 2px solid #fcaf17 !important;
  color: #000 !important;
}

.ace-investors .market-card-filter li:hover {
  color: #000 !important;
}

.ace-investors .market-card-filter li a {
  text-decoration: none;
  color: #000;
  font-weight: inherit;
}

/* <----- Table -----> */

.ace-investors .market-card-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.ace-investors .market-card-table table tr {
  border-bottom: 1px solid #d8d6cf;
  margin: 0 1px;
  padding: 8px;
  position: relative;
}

.ace-investors .market-card-table table tr:last-child {
  border-bottom: transparent;
}

.ace-investors
  .ace-investors-head:nth-child(2)
  .market-card-table
  tr:last-child {
  border-bottom: 1px solid #d8d6cf !important;
}

.ace-investors-head:nth-child(2) .market-card-filter {
  display: none;
}

.ace-investors .market-card-table table tr:first-child {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  background-color: transparent;
}

.ace-investors-head:nth-child(1) .market-card-table table tr:first-child {
  display: none;
}

.ace-investors-head:nth-child(2) .market-card-table table tr:first-child {
  display: none;
}

.ace-investors-head:nth-child(3) .market-card-table table tr:first-child td {
  color: #0006 !important;
  background: #d8d6cf !important;
}

.ace-investors-head .market-card-table table tr:first-child td {
  background: transparent !important;
}

.ace-investors .market-card-table td {
  padding: 0.8rem;
  text-align: left;
  font-size: 14px;
  color: #000 !important;
  padding-top: 15px;
}

.ace-investors .market-card-table tr:nth-child(n + 2):hover {
  border-bottom: 1px solid #d8d6cf !important;
  border-top: 1px solid #d8d6cf !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

.ace-investors
  .ace-investors-head:nth-child(3)
  .market-card-table
  tr:nth-child(n + 2):hover {
  border-bottom: 1px solid #feae17 !important;
  border-top: 2px solid #feae17 !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

.ace-investors-head:nth-child(1) .market-card-table td:nth-child(2) {
  text-align: right;
}

.ace-investors .market-card-table td:nth-child(1),
.ace-investors .market-card-table td:nth-child(2) {
  text-align: left;
}

.ace-investors .market-card-table td:nth-child(3),
.ace-investors .market-card-table td:nth-child(4) {
  text-align: right;
}

.ace-investors-head:nth-child(2) .market-card-table td {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.ace-investors-head:nth-child(2) .market-card-table td p:nth-child(2) {
  width: 82%;
  color: #000 !important;
  font-size: 15px;
  font-weight: 500 !important;
}

.ace-investors-head:nth-child(2) .market-card-table td p:first-child {
  position: unset;
}
.ace-investors-head:nth-child(2) .market-card-table td p:first-child picture {
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
  border: 1px solid #d8d6cf !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.ace-investors-head:nth-child(2) .market-card-table td picture:last-child {
  border-radius: 0;
  border: none;
  border: 1px solid transparent !important;
}
.ace-investors .market-card-table .positive {
  color: green;
}

.ace-investors.market-card-table .negetive {
  color: red;
}

.ace-investors .market-card-button a {
  padding: 6px 12px !important;
  background: #fff !important;
  display: block;
  color: #000 !important;
  border: 1px solid #fcaf17 !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  text-align: center !important;
  border-radius: 6px !important;
  text-decoration: none !important;
  width: 94% !important;
}

.ace-investors .market-card-button p {
  margin: 0 !important;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.ace-investors .market-card-button p > a {
  margin-top: 0;
}

.ace-investors .market-card-table {
  min-height: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ace-investors .market-card-table > p {
  font-size: 15px;
  line-height: 21px;
  white-space: nowrap;
}

.ace-investors .market-card-table td p {
  color: #000 !important;
  font-size: 14px;
}

.ace-investors .market-card-table td p:first-child {
  white-space: nowrap;
  color: #000 !important;
  font-weight: 500;
  position: absolute;
  top: -8px;
}

.ace-investors-head
  .market-card-table-wrap:first-child
  table:first-child
  tbody
  tr
  td:nth-child(2) {
  padding-top: 46px;
  white-space: nowrap;
}
