.basket-wrapper {
  max-width: 1366px !important;
  padding: 0 !important;
}
.basket {
  display: flex;
}
.basket-card-image > p {
  display: flex;
  margin: 0px;
}
.basket-card-image > p > picture {
  width: 42px;
  height: 42px;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket-card-image > p > code {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif !important;
}
.basket-card-image > p:nth-child(2) code {
  margin-left: 12.5%;
  margin-top: -4%;
  font-weight: 100 !important;
  color: #666;
  font-size: 12px !important;
  padding-bottom: 8px;
}
.basket-image-card {
  border: 1px solid #ddd;
  width: 35%;
  border-radius: 8px;
  margin-right: 1%;
  padding: 12px;
  cursor: pointer;
}
.basket-card-image {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}
.basket-card-title table td:nth-child(1),
.basket-card-title table td:nth-child(2) {
  position: relative;
}
.basket-card-title table td:nth-child(3) {
  line-height: 0;
  padding-left: 19px;
}
.basket-card-title img {
  height: 15px;
}
.basket-card-title table td:nth-child(1)::after,
.basket-card-title table td:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  height: 50px;
  background-color: #dee2e6 !important;
}
.basket-card-data pre {
  background-color: white;
  padding: 0px 50px 0px 0px !important;
}
.basket-card-data pre code {
  font-size: 12px;
}
.basket-card-data table tbody tr td:nth-child(3) {
  margin-left: 20px;
  line-height: 1;
  width: 32%;
}
.basket-card-data table tbody tr td:nth-child(2) {
  line-height: 1;
  white-space: nowrap;
}
.basket-card-data table tbody tr td:first-child {
  line-height: 1;
  /* width: 28%; */
}
.basket-card-data table tbody tr td code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
}
.basket-card-data table tbody tr:first-child td:first-child {
  padding: 2px 8px;
  border-right: 1px solid #d8d6cf;
}
.basket-card-data table tbody tr:first-child td:nth-child(2) {
  padding: 0 8px;
  padding-bottom: 13px;
  border-right: 1px solid #d8d6cf;
}
.basket-card-data table tbody tr:first-child td:nth-child(3) {
  padding-bottom: 13px;
}
.basket-card-data table tbody tr td table tbody tr td {
  border-right: 0px solid #d8d6cf !important;
}
.basket-card-data table tbody tr td table tbody tr:nth-child(2) td code {
  color: #2db777;
  font-size: 16px;
  font-weight: 700;
}
.basket-card-title {
  height: 76px;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0px;
}
.basket-card-button {
  background: #06c39b;
  min-width: 150px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  text-align: center !important;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 16.41px;
  cursor: pointer;
}
.basket-card-button > p {
  padding-top: 10px !important;
}
.basket-card-title > table > tbody > tr > td > pre > code {
  color: #666;
  opacity: unset !important;
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}
.basket-card-title p {
  line-height: 20px;
}
.basket-card-title p code {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
}
.basket-card-data > table {
  width: 100%;
  table-layout: fixed;
}
.basket-card-data {
  padding-top: 10px;
}
