.iap-wrapper {
  max-width: 1366px !important;
  padding: 0 !important;
}
.iap {
  display: flex;
}
.iap-card-image > p {
  display: flex;
}
.iap-card-image > p > picture {
  width: 42px;
  height: 42px;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iap-card-image > p > code {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}
.iap-image-card {
  border: 1px solid #ddd;
  width: 35%;
  border-radius: 8px;
  margin-right: 1%;
  padding: 12px;
}
.iap-card-image {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}
.iap-card-title table td:nth-child(1),
.iap-card-title table td:nth-child(2) {
  position: relative;
  padding-left: 10px;
}
.iap-card-title table td:nth-child(3) {
  line-height: 0;
  padding-left: 18px;
  color: #666;
  opacity: unset !important;
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}
.iap-card-title img {
  height: 15px;
}
.iap-card-title table td:nth-child(1)::after,
.iap-card-title table td:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  height: 50px;
  background-color: #dee2e6 !important;
}
pre {
  background-color: white;
  padding: 0px 50px 0px 0px !important;
}
.iap-card-title {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0px;
}
.iap-card-button {
  background: #06c39b;
  min-width: 150px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  text-align: center !important;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 16.41px;
  cursor: pointer;
}
.iap-card-button > p {
  padding-top: 10px !important;
}
.iap-card-button p code {
  background: #06c39b;
  min-width: 150px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  text-align: center !important;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 16.41px;
  cursor: pointer;
}
.iap-card-title > table > tbody > tr > td > pre > code {
  color: #666;
  opacity: unset !important;
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}
.iap-card-data > table {
  width: 110%;
  table-layout: fixed;
}
.iap-card-data {
  padding-top: 10px;
}
.iap-card-data table tbody tr td code {
  font-weight: 600;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: black;
}
.iap-card-data table tbody tr td picture img {
  width: 20px;
  height: 20px;
}
