.market-sentiments-chart {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
}

.market-sentiments-div {
  /* width: 195.167px; */
  border: 1px solid #ddd !important;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 12px !important;
  margin-bottom: 5px !important;
}

.market-sentiments-chart-wrapper .owl-stage {
  display: flex;
}
.market-sentiments-chart-wrapper {
  max-width: 1366px !important;
  padding: 0 !important;
  position: relative;
}

.market-sentiments-chart .owl-nav {
  top: 28% !important;
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.market-sentiments-chart .owl-nav button {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.market-sentiments-chart-container {
  padding-top: 5px;
}

.market-sentiment-text-2 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: -10px;
  color: black;
}

.market-sentiment-text-1 {
  color: #999;
  font-size: 14px !important;
  line-height: 0px;
  margin-bottom: -8px;
}

.market-sentiments-chart-container  .owl-nav button.owl-prev.disabled {
  visibility: hidden;
}
.market-sentiments-chart-container  .owl-nav button.owl-next.disabled {
  visibility: hidden;
}
.grey-card {
  background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
}

.grey-card > * {
  opacity: 0;
}