.research-wrapper
{
    max-width: 90% !important;
}
.research
{
    display: flex;
}
.research-card-image > p
{
    display: flex;
}

.research-card-image table tbody tr td picture img
{
    width: 42px;
    height: 42px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.research-card-image > p > code
{
        margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
.research-image-card
{
    border: 1px solid #DDD;
    width: 35%;
    border-radius: 8px;
    margin-right: 1%;
    padding: 12px;
}
.research-card-image
{
    position: relative; 
    border-bottom: 1px solid #ddd; 
    padding-bottom: 4px;
}
.research-card-image table tbody tr td:nth-child(2) table tbody tr
{
  display: grid;
  line-height: 1;
  margin-left: 5px;
}
.research-card-image table tbody tr td:nth-child(3)
{
  /* padding-left: 50%; */
  font-weight: 600;
    padding: 5px 20px;
    text-align: center;
    border: solid 1px #DDD;
    border-radius: 8px;
    text-align: center;
    display: block;
    color: #000;
    background-color: #ffc107;
}
 .research-card-title table td:nth-child(1),
  .research-card-title table td:nth-child(2) {
    position: relative; 
  }
.research-card-title table td:nth-child(3)
{
    line-height: 0;
    padding-left: 19px;
}
 .research-card-title img{
    height: 15px;
 }
  .research-card-title table td:nth-child(1)::after,
  .research-card-title table td:nth-child(2)::after {
    content: ''; 
    position: absolute;
    top: 4px;  
    right: 0;
    width: 1px; 
    height: 43px; 
    background-color: #dee2e6!important 
  }
  pre
  {
    background-color: white;
     padding: 0px 50px 0px 0px !important;
        
  }
  .research-card-title
  {
    height: 57px;
        position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
  }
  .research-card-title table 
  {
    width: 100%;
  }
  .research-card-title table tr td
  {
    width: 30%;
  }
  .research-card-title table tbody tr td table tbody
  {
    line-height: 1;
  }
  .research-card-button
  {
    min-width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    text-align: center !important;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 16.41px;
        cursor: pointer;
  }
  .research-card-button > p
  {
    padding-top: 10px !important;
  }
  .research-card-button table
  {
    width: 100%;
  }
  .research-card-button table tbody tr
  {
    display: flex;
    justify-content: space-between;
  }
  .research-card-button table tbody tr td:nth-child(2)
  {
    margin-top: 19px;
  }
  .research-card-button table tbody tr td:nth-child(1)
  {
    margin-top: 17px;
  }
  .research-card-title > table > tbody > tr > td> pre > code
  {
        color: #666;
    opacity: unset !important;
    margin-bottom: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
  }
.research-card-data > table
{
    width: 110%;
    table-layout: fixed;
}
.research-card-data
{
    padding-top: 10px;
        border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.research-card-data ul li code
{
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}
.research-card-title table tr td:nth-child(2),
.research-card-title table tr td:nth-child(3) {
    position: relative; 
}


.research-card-title table tr td:nth-child(2) code,
.research-card-title table tr td:nth-child(3) code {
    filter: blur(5px); 
    opacity: 0.6; 
}


.research-card-title table tr td {
    border-right: 1px solid #ccc;
}
