.mlow-market-cards-container {
  padding: 0 !important;
}

.mlow-market-cards-wrapper {
  max-width: 1366px !important;
  padding: 0 !important;
}

.mlow-market-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.image-card {
  width: 24%;
  border: 1px solid #ddd !important;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  padding: 12px !important;
  margin-bottom: 0 !important;
  /* height: 294px; */
}

.image-card-image {
  position: relative;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  border: 1px solid #d8d6cf;
  border-radius: 10px;
  overflow: hidden;
  height: 150px;
}

.image-card-image img {
  width: 100%;
  display: block;
}

.image-card-title {
  padding-bottom: 0 !important;
  text-align: left;
}

.image-card-title p {
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  margin: 0 !important;
  color: #000;
  line-height: 24px;
}

/* Date section */
.image-card-date {
  padding-top: 0.5rem !important;
  display: flex;
  justify-content: space-between !important;
}

.image-card-date p {
  font-size: 14px;
  color: #757575;
  margin: 0;
}
.image-card-date p:nth-child(2) picture img {
  width: 20px !important;
  height: 20px !important;
}
.image-card-date {
  position: relative;
}

.image-card-date p:nth-child(3) {
  display: none;
  position: absolute;
  top: 100%;
  left: 86px;
  width: 100%;
  padding: 10px;
  font-size: 12px !important;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
  background: rgba(245, 244, 241, 0.95);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  color: black;
}

.image-card-date p:nth-child(2):hover + p:nth-child(3) {
  display: block;
  opacity: 1;
  visibility: visible;
  top: -220px;
  transform: translateY(10px);
  border-radius: 10px;
  line-height: normal;
}
.image-card-date p:nth-child(2):hover + p:nth-child(3) ::after {
  content: '';
  width: 12px;
  height: 12px;
  background: rgba(245, 244, 241, 0.95);
  border: 1px solid #d8d6cf;
  position: absolute;
  bottom: -8px;
  left: 12.9rem;
  transform: rotate(45deg);
  z-index: 0;
  border-left: none;
  border-top: none;
}
.image-card-date p:nth-child(2):hover + p:nth-child(3) code {
  font-family: 'Roboto', sans-serif !important;
}

.image-card-date p:nth-child(2) {
  cursor: pointer;
  font-weight: bold;
}
